body {
    background-color: #DCE0E3;
    width: 100%;    
    height: 100%;
    display: inline;
    font-family: "Skyscanner Relative",-apple-system,BlinkMacSystemFont,"Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
}

input {
    width: 100px;
    height: 20px;
    outline: none;
}

.tabli4ka {
    margin-left: 60px;
    height: 20px;
    width: 80px;
    background-color: #1a2647;
}

#avia {
    width: 140px;
}

th{
    color: #fff;
    font: icon;
}

.space {
    margin-bottom: 30px;
}

.menu {
    width: 73.75%;
    height: 60px;
    background-color: #1C2848;
    margin-left: 300px;
    margin-top: 86px;
}

.flightArea {
    position: absolute;
    margin-top: 13px;
    color: #fff;
    font: icon;
    margin-left: 80px;
}

.ticketForm {
    position: absolute;
    vertical-align: -webkit-baseline-middle ;
    margin-left: 80px;
    margin-top: 27px;
    color: #fff;
    font-size: 14px;
}

.line {
    border-bottom: 1px solid #9A9A9A;
    margin-left: 305px;
    width: 73.2%;
    margin-top: 20px;
}
.order {
    margin-left: 310px;
    margin-top: 40px;
    width: 72.8%;
    height: 60px;
    background-color: #FFFFFF;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: absolute;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
}

.order2 {
    margin-top: 18px;
}

#avstrija {
    margin: 10px;
    margin-left: 20px;
}

.moreBtn {
    position: absolute;
    top: 15px;
    left: 1330px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: 2px solid gray;
    
}

.moreBtn:after {
    position: absolute;
    top: 7px;;
    left: 8px;
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-left: 3px solid blue;
    border-bottom: 3px solid blue;
    transform: rotate(-45deg);
}

.moreBtn:hover{
    transform: rotate(180deg);
}

#popUpInfo {
    position: absolute;
    display: none;
    background-color: #fff;
    height: 200px;
    width: 1385px;
    margin-top: 0px ;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.venasPhoto {
    margin-top: -5px;
    margin-left: 20px;
    border-radius: 10px;
    position: absolute;
}

.informaacija {
    position: absolute;
    margin-left: 100px;
}

.name {
    position: absolute;
    margin-left:240px;
    margin-top: -5px;
    font-weight: 500;
    font-size:24px;
}

.quantityOfTransfers {
    position: absolute;
    margin-left:240px;
    margin-top:24px;
    font-weight: lighter;
    color: #61C28E;
    font-size: 20px;
}

.price {
    position: absolute;
    margin-left:1200px;
    margin-top:45px;

    font-size: 18px;
}  

.guide {
    position: absolute;
    margin-left:1125px;
    margin-top:75px;

    text-decoration: none;
    font-size: 18px
}  

.reservation {
    position: absolute;
    margin-left:1050px;
    margin-top:130px;

    text-decoration: none;
    font-size: 18px
}

.buyBtn {
    position: absolute;
    margin-left:1200px;
    margin-bottom:-100px;
    margin-top:120px;

    border:none;
    background-color: #4B9C7F;
    color: white;
    width: 160px;
    height: 35px;
    border-radius: 4px;
    font-size: 20px;
}

.line1 {
    position: absolute;
    border-bottom: 1px solid #9A9A9A;
    margin-left: 17.25%;
    width: 81%;
    margin-top: 70px;
}

.line2 {
    position: absolute;
    border-bottom: 1px solid #9A9A9A;
    margin-left: 17.25%;
    width: 81%;
    margin-top: 105px;
}

a {
    text-decoration: none;
    color: #0770e3;
}